/*Navigation*/
#nav{
	background-color:#d1e2ff; 
	margin: 0 0 0 0;
	height:80px;
}
#nav h1{
	display:inline-block;
	padding: 15px;
	margin:0 0 0 0;
}
#menu{
	float:right;
	margin:0 0 0 0;
}
#menu li{
	display:inline-block;
	line-height:50px;
	padding: 15px;
	margin:0 0 0 0;
}
#menu li a{
	line-height:50px;
	width:100%;
}
#menu li:hover{
	background-color:#51FFF6;
	color:#000000;
}
#dropBtn{
	float:right;
	line-height:70px;
	margin-right:10px;
}
#dropBtn img{
	height:50px;
	width:50px;
}
.hide{
	display:none;
}
.show{
	display:inline-block;
}
/*Home Page Content*/
#content{
	width:80%;
	max-width:1000px;
	margin:auto;
}
#content h2{
	padding:15px;
}
#content p{
	width:100%;
}
.contentImg1{
	width:30%;
	padding-right:15px;
}
/*Products Page*/
#grid{
	width: 100%;
	margin: 0 0 0 0;
}
.shopItem{
	display: inline-block;
	width: 25%;
	height: 250px;
	position: relative;
	border: #adadad solid 1px;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.shopItem button{
    background-color: rgb(0, 204, 255);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	font-size: 16px;
	position: absolute;
	width: 125px;
	margin: auto;
}
.itemInfo{
	padding: 5px;
}
@media (max-width: 700px) {
    #menu{
		margin-top:80px;
		width:100%;
		background:white;
		z-index:9999;
		position:absolute;
	}
	#menu li{
		width:100%;
	}
	#nav{
		position:fixed;
		width:100%;
	}
	#content{
		padding-top:100px;
		width:95%;
		
	}
	.hide{
		display:none;
	}
	.show{
		display:inline-block;
	}
}